body {
    margin: 0;
    padding: 0;
    font-family: helvetica, arial, verdana, sans-serif;
    font-size: small;

    color: #1d282b;
    background: #FFF url( /images/mtbg.gif ) repeat-x top left;
}

#footer {
    line-height: 20px;
    color: #5E5E5E;
    padding-top: 1.8em;
}

#search {
    margin: 120px;
    height: 220px;
}

.query {
    border: 1px solid #C7C6C4;
    font-size: 100%;
    height: 18px;
    padding-left: 2px;
    padding-top: 4px;
    width: 410px;
}

#srh {
    background: #F0F7F9 none repeat scroll 0 0;
    border-top: 1px solid #6B90DA;
    margin: 11px 0;
    margin-top: 0;
    padding: 0.1em;
}

#srs {
    margin-left: 5px
}

#srht {
    float: left;
    padding: 4px 0.5em 0 4px;
}

#srh p {
    margin: 0.1em 0;
    padding: 0.2em;
    text-align: right;
    white-space: nowrap;
}

#ssb {
    margin: 11px 0;
}

#logo01 img {
    border: medium none;
}

h1, ol {
    margin: 0;
    padding: 0;
}

li.g, body, html, .std, .c h2, #mbEnd h2, h1 {
    font-size: small;
}

ol li {
    list-style-position: outside;
    list-style-type: none;
}

.sl, .r {
    font-weight: normal;
    margin: 0;
}

.r {
    font-size: medium;
}

.s {
    max-width: 42em;
}

h3, .med {
    font-weight: normal;
    margin: 0;
    padding: 0;
}

a, .w, .q:active, .q:visited {
    color: #0000CC;
}

.g {
/*margin: 1em 0;*/
    margin: 1em 0 1.2em;
}

#results {
    margin-left: 5px;
}

em {
    color: #CC0033;
    font-style: normal;
    font-weight: normal;
}

.a, cite, .cite, .cite:link {
    color: green;
    font-style: normal;
}

h3, .med {
    font-weight: normal;
    margin: 0;
    padding: 0;
}

#resultPages {
    text-align: center;
}

.cur {
    color: #A90A08;
    font-weight: bold;
}

.page {
    padding: 0;
    text-align: center;
}