<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE log4j:configuration SYSTEM "log4j.dtd">
<log4j:configuration xmlns:log4j="http://jakarta.apache.org/log4j/" debug="false">

    <!-- Output to standard out of the application server   -->
    <appender name="CONSOLE" class="org.apache.log4j.ConsoleAppender">
        <layout class="org.apache.log4j.PatternLayout">
            <param name="ConversionPattern" value="[%p] %d{yyMMdd HH:mm:ss} [%l] - %m  %n"/>
        </layout>
    </appender>

    <appender name="FILE_LOG" class="org.apache.log4j.RollingFileAppender">
        <param name="File" value="../logs/gshoot.log"/>
        <param name="MaxFileSize" value="1MB"/>
        <param name="MaxBackupIndex" value="10"/>
        <layout class="org.apache.log4j.PatternLayout">
            <param name="ConversionPattern" value="%p %d{yyyyMMMdd HH:mm:ss} [%l] - %m  %n"/>
        </layout>
    </appender>
    
    <category name="com">
        <priority value="warn"/>
        <appender-ref ref="CONSOLE"/>
    </category>

    <category name="com.vinci.gshoot">
        <priority value="debug"/>
        <appender-ref ref="FILE_LOG"/>
    </category>
    <root>
    </root>
</log4j:configuration>
